* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #dfe6e9;
}

h1 {
  text-align: center;
  padding: 50px;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: #2d3436;
  text-shadow: 2px 2px 5px #0984e3;
}

#Up-O,
#Mi-W,
#Bo-G {
  height: 136px;
  width: 612px;
}


#mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paper {
  height: 408px;
  width: 612px;
  justify-content: center;
  align-items: center;
}

#Up-O {
  background-color: #F26827;
}


#Mi-W {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Bo-G {
  background-color: #028542;
}

#Chakra {
  position: absolute;
  height: 136px;
  width: 136px;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid #012639;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-circle {
  height: 25px;
  width: 25px;
  background-color: #012639;
  border-radius: 50%;
  position: absolute;
}

#lines1,
#lines2,
#lines3,
#lines4,
#lines5,
#lines6,
#lines7,
#lines8,
#lines9,
#lines10,
#lines11,
#lines12 {
  height: 136px;
  width: 4px;
  background-color: #012639;
  position: absolute;
  border-radius: 80%;
  transform-origin: center;
}

#lines1 {
  transform: rotate(0deg);
}

#lines2 {
  transform: rotate(15deg);
}

#lines3 {
  transform: rotate(30deg);
}

#lines4 {
  transform: rotate(45deg);
}

#lines5 {
  transform: rotate(60deg);
}

#lines6 {
  transform: rotate(75deg);
}

#lines7 {
  transform: rotate(90deg);
}

#lines8 {
  transform: rotate(105deg);
}

#lines9 {
  transform: rotate(120deg);
}

#lines10 {
  transform: rotate(135deg);
}

#lines11 {
  transform: rotate(150deg);
}

#lines12 {
  transform: rotate(165deg);
}